

a{
    text-decoration: none;
    color: white;
}

a:hover, a:active{
    color: lightgray;
}

.nav-caption{
    display: inline-block;
    padding-left: 6px;
}


.footer-container {
    height: 12px;
    margin-top: -25px;
    
  }
  .footer-content {
    margin: 0 auto;
    text-align: center;
    color: #5D6D7E;
  }